@model IEnumerable<ExhibitionApp.Models.Exhibit>

@{
    ViewData["Title"] = "GetAllExhibits";
}

<div class="text-center mt-3">
    <a asp-action="CreateExhibit" class="btn btn-success">Добавить новый экспонат</a>
</div>

<h1>Экспонаты:</h1>

<div class="card">
    <table class="table text-center table-striped table-borderless table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @foreach (var author in item.Authors)
                    {
                        <li>
                            @author.Pseudonym
                        </li>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-warning ms-1" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <a class="btn btn-outline-primary ms-1" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        <a class="btn btn-outline-danger ms-1" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
